<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Mon super site de gossip, depuis le dossier views !</h1>
      <p>Bonjour et bienvenue! La liste des points arrive bientôt, en attendant, tu peux aller sur 
        <a href="/gossips/new/">créer un gossip</a>
  </body>
  <% gossips.each do |gossip| %>
    <p> 
      <%= gossip.author %><br/>
      <%= gossip.content %>
      </p>
      <% end %>
</html>
