<html>
  <head>
    <title>Créer un potin</title>
  </head>
  <body>
    <h1>Crée un potin !</h1>
    <p>Balance ton potin via le formulaire ci-dessous</p>
    <form action='/gossips/new/' method='POST'>
    Saisi ici ton nom : <input type='text' name='gossip_author'/><br/>
    Balance ton potin : <input type='text' name='gossip_content'/><br/>
    <input type='submit'/>
    </form>
    <%#champ action defini l'url qui va recevoir le contenu du formulaire, champ method defini la reuquete ie /gossips/new/ avec une requete POST
    tag html <input type='text'> option name pour definir le gossip_author et input submit pour le bouton %> 
    </body>
  </html>
  